@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-rendering: optimizelegibility;
}

/* https://github.com/vercel/geist-font/issues/65#issuecomment-1837402864 */
html,
body {
  font-synthesis-weight: none;
}
